/dataSet1/
/dataSetNpy1/
/dataSetPcd1/
/.idea/
/__pycache__/
/dataSet2/
/dataSet3/
/dataSet4/
/dataSet5/
/dataSet6/
/dataSet7/
/dataSet8/
/dataSet9/
/dataSet10/
/dataSetNpy6/
/dataSetNpy7/
/dataSetNpy8/
/dataSetNpy9/
/dataSetNpy10/
/dataSetNpy5/
/*.csv
/GenerateQueries/*.pickle
/dataTrain2/
/dataTrain3/
/dataTrain4/
/dataTrain5/
/GenerateQueries/*.npy